{% extends 'velocity/mapBase.html' %}

{% block mapjs %}
  // color for line
  let colors = ['#c4c4c4','#59F000','#c9d802','#FF7400','#FF0000','#68266F'];
  let getColorPosition = function(color) {
    return $.inArray(color, colors);
  };

  let getColor = function(d) {
    if(d == null){
      return colors[0];
    }
    return d <  0   ? colors[0] :
           d <= 180 ? colors[1] :
           d <= 240 ? colors[2] :
           d <= 300 ? colors[3] :
           d <= 360 ? colors[4] :
                      colors[5];
   };

   // DEFINE LEGEND
   let legend = L.control({position: 'bottomright'});
   legend.onAdd = function (map) {
     let div = L.DomUtil.create('div', 'info legend'),
     grades = [0, 180, 240, 300, 360],
     labels = [];

     div.innerHTML += '<h4>s/km</h4>';

     // loop through our density intervals and generate a label with a colored square for each interval
     for (let i = 0; i < grades.length; i++) {
       let color = '';
       let legend = '';
       if (i==0) {
         color = getColor(grades[i]-1);
         legend = ' Sin datos ';
         let html = '<i style="background:' + color + '"></i>' + legend + '<br>';
         div.innerHTML += html;
       }
       switch (true) {
         case (i==grades.length-1):
           color = getColor(grades[i]+1);
           legend = ' > ' + grades[i];
           break;
         default: // middle
           color = getColor(grades[i] + 1)
           legend = ' (' + grades[i] + ', ' + grades[i + 1] + ']'
           break;
       }
       let html = '<i style="background:' + color + '"></i>' + legend + '<br>';
       div.innerHTML += html;
     }

     return div;
   };

   let getMetric = function(section){
     return section.segxkm != null ? section.segxkm.toFixed(1) : null;
   };
   let app = new App(getMetric, getColor, getColorPosition);
   app.addLegend(legend);
{% endblock %}
