{% extends 'base.html' %}
{% load static %}

{% block title %}Mapa{% endblock %}

{% block css %}
  <!-- leaflet -->
  <link rel="stylesheet" href="{% static "components/leaflet/dist/leaflet.css" %}">
  <link rel="stylesheet" href="{% static "components/Leaflet.EasyButton/src/easy-button.css" %}">
  <link rel="stylesheet" href="{% static "components/leaflet-control-window/src/L.Control.Window.css" %}">
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <link rel="stylesheet" href="{% static gentelella_static|add:"iCheck/skins/flat/green.css" %}">
  {% endwith %}
  <style>
    .info {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
    }
    .info h4 {
      margin: 0 0 5px;
      color: #777;
    }

    .legend {
      line-height: 18px;
      color: #555;
    }
    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.8;
    }

    .filterColor {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 1.0;
    }

    .nav_menu {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
  <script src="{% static "components/leaflet/dist/leaflet.js" %}"></script>
  <script src="{% static "components/leaflet-polylinedecorator/leaflet.polylineDecorator.js" %}"></script>
  <script src="{% static "components/Leaflet.EasyButton/src/easy-button.js" %}"></script>
  <script src="{% static "components/leaflet-control-window/src/L.Control.Window.js" %}"></script>
  <script src="{% static "own/leaflet-polylinedecorator/longArrowHead.js" %}"></script>
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <script src="{% static gentelella_static|add:"iCheck/icheck.min.js" %}"></script>
  {% endwith %}
  <script>
    'use strict';
    $(document).ready(function() {

       let Element = function(layer, color, group, name) {
         this.layer = layer;
         this.color = color;
         this.group = group;
         this.name = name;
         this.visible = true;
         this.addToMap = function(map) {
           this.layer.addTo(map);
           this.visible = true;
         };
         this.removeFromMap = function() {
           this.visible = false;
           this.layer.remove();
         };
         this.updateLayer = function(layer, map){
           if(this.visible){
             this.removeFromMap();
             this.layer = layer;
             this.addToMap(map);
           }else{
             this.layer = layer;
           }
         };
       };

       function App(map, getMetricFunc, getColorFunc, getColorPositionFunc){
         let _map = map;
         let _dataSource = {};
         let _getMetric = getMetricFunc;
         let _getColor = getColorFunc;
         let _getColorPosition = getColorPositionFunc;
		 let _makeBounds = true;

         let _categorizeSection = function(layer, color, group, name, id) {
           // if id is present in data
           if(_dataSource.hasOwnProperty(id)){
             let el = _dataSource[id];
             el.color = color;
             el.group = group;
             el.name = name;
             el.updateLayer(layer, _map);
             return;
           }

           _dataSource[id] = new Element(layer, color, group, name);
         }

         /**
          * CREATE OVERLAYS
          */
         this.generateOverlays = function(streetName, sectionName, section) {

           let latLngs = [];
           let id = section.id;
           let order = section.order
           let metrics = _getMetric(section);
           let group = section.group;
           let nObs = section.nObs;
           let points = section.points;
           let origin = section.originStreet;
           let destination = section.destinationStreet;

           // order points by distOnRoute
           points.sort(function(a, b) {
             return a.distOnRoute - b.distOnRoute;
           });
 
           // populate positions
           $.each(points, function(i2, point) {
             latLngs.push([point.latitude, point.longitude]);
           });

           let line = L.polyline(latLngs, {color: _getColor(metrics)});

           let patternsOpts = [
           // defines a pattern of 10px-wide dashes, repeated every 20px on the line
           {offset: 10,
             endOffset: 5,
             repeat: '5%',
             symbol: L.Symbol.longArrowHead({
               rotate: true,
               pixelSize: 5,
               polygon: true,
               pathOptions: {
                 color: _getColor(metrics),
                 stroke: false,
                 fillColor: _getColor(metrics),
                 fillOpacity: 1.0
               }
             })
           }
           ]
           let decorator = L.polylineDecorator(line, {patterns: patternsOpts});
 
           //********************************************************/
           // set bubble
           let text = metrics + " s/km";
           if (metrics == null) {
             text = 'Sin Datos';
           }
           let message = "<h3>" + text + "</h3><h6>Eje: " + streetName + "</h6><h6>Tramo: " + order + "</h6><h6>Inicio: " + origin + "</h6><h6>Fin: " + destination + "</h6><h6>Grupo: " + group + "</h6><h6>N° obs: " + nObs + "</h6>";
           decorator.bindPopup(message);
           line.bindPopup(message);

           //********************************************************/
           // animation
           let arrowOffset = 0;
           patternsOpts[0].repeat = 0;
           let anim = window.setInterval(function() {
             patternsOpts[0].offset = arrowOffset + '%';
             decorator.setPatterns(patternsOpts);
             if(arrowOffset > 100)
               arrowOffset = 0;
             arrowOffset = arrowOffset + 1;
           }, 50);
           //********************************************************/
 
           // create overlay
           let overlay = L.featureGroup([]);
           overlay.addLayer(line);
           overlay.addLayer(decorator);
 
           _categorizeSection(overlay, _getColor(metrics), group, streetName, id);
 
           console.log("Map updated with polyline decorator");
         };

         this.updateMap = function(hour, dayType) {

           // update map info
           $('#hourInfo').text(hour);
           $('#dayType').text(dayType);

           // update filter
           this.updateFilterWindow(_getColorPosition);

           let bounds = null;

           // add layers to map and control
           $.each(_dataSource, function(index, element){
             if (element.visible){
               element.addToMap(_map);
               if (!bounds) {
                 bounds = element.layer.getBounds();
               } else {
                 bounds = bounds.extend(element.layer.getBounds());
               }
             }
           });

           if(bounds !== null && _makeBounds){
             _map.fitBounds(bounds);
             _makeBounds = false;
           }
         };
 
         /**
         * DEFINE FILTER
         */
         let _getAttributeUniqueList = function(attributeName, sortFunction) {
           let dict = $.map(_dataSource, function(element, id){
             return element[attributeName];
           }).reduce(function(x, y){
             if (x.hasOwnProperty(y)) {
               x[y]++;
               return x;
             }
             x[y] = 1;
             return x;
           }, {});

           let orderedList = [];
           $.each(dict, function(attrValue, frecuency){
             orderedList.push({attrValue:attrValue, frecuency:frecuency});
           });
           orderedList.sort(sortFunction);
           return orderedList;
         }

         let _generateGroupList = function(divId, attrName, sortFunction, htmlGenerator) {
           let orderedList = _getAttributeUniqueList(attrName, sortFunction);
           $.each(orderedList, function(index, item){
             let attrValue = item.attrValue;
             let frecuency = item.frecuency;
             let html = $(htmlGenerator(attrValue, frecuency));

             let checkbox = null;
             let checkboxId = attrValue.replace(/\.|-| |#/g, '');
             let checkboxExists = $('#'+checkboxId).length ? true:false;
             if (checkboxExists){
               checkbox = $('#'+checkboxId);
               checkbox.next().html(attrValue + " ( " + frecuency + " tramos)");
               checkbox.off('ifChecked');
               checkbox.off('ifUnchecked');
             } else {
               checkbox = $("<input id='"+checkboxId+"' type='checkbox' class='flat' checked='checked' />");
               html.prepend(checkbox);
               $('#' + divId).append(html);
               checkbox.iCheck({
                 labelHover: false,
                 cursor: true,
                 checkboxClass: 'icheckbox_flat-green',
                 radioClass: 'iradio_flat-green',
               });
             }
             checkbox.on('ifChecked', function(event){
               $.each(_dataSource, function(index, element){
                 if (attrValue == element[attrName]) {
                   element.addToMap(_map);
                 }
               });
             });
             checkbox.on('ifUnchecked', function(event){
               $.each(_dataSource, function(index, element){
                 if (attrValue == element[attrName]) {
                   element.removeFromMap();
                 }
               });
             });
           });
         };

         this.updateFilterWindow = function(){
           // streets
           _generateGroupList('listContent', 'name', function(a, b){
             return a.attrValue.localeCompare(b.attrValue);
           }, function(name, frecuency){
             return "<div class='checkbox'><label> " + name + " (" + frecuency + " tramos)</label></div>";
           });

           // groups
           _generateGroupList('groupContent', 'group', function(a, b){
             return a.attrValue.localeCompare(b.attrValue);
           }, function(group, frecuency){
             return "<div class='checkbox'><label> " + group + " (" + frecuency + " tramos)</label></div>";
           });

           // colors
           _generateGroupList('colorContent', 'color', function(a, b){
             return _getColorPosition(a.attrValue) - _getColorPosition(b.attrValue);
           }, function(color, frecuency){
             return "<div class='checkbox'><label> (" + frecuency + " tramos)<i class='filterColor' style='background:" + color + "'></i></label></div>";
           });

           console.log('checkboxs info updated');
         };
       }

       /**
        * SET MAP
        */
       let beauchefLocation = L.latLng(-33.457910, -70.663869);
       let mapid = $(".right_col")[0];
       let map = L.map(mapid, {
         editable: true,
         closePopupOnClick: false
       }).setView(beauchefLocation, 13);
       let blackStyle='https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidHJhbnNhcHAiLCJhIjoiY2lzbjl6MDQzMDRkNzJxbXhyZWZ1aTlocCJ9.-xsBhulirrT0nMom_Ay9Og';
       let grayStyle= 'https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidHJhbnNhcHAiLCJhIjoiY2lzbjl6MDQzMDRkNzJxbXhyZWZ1aTlocCJ9.-xsBhulirrT0nMom_Ay9Og';
	   let stopStyle='https://api.mapbox.com/styles/v1/transapp/cj3a8ksvx000t2sqstwxzbc2f/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidHJhbnNhcHAiLCJhIjoiY2lzbjl6MDQzMDRkNzJxbXhyZWZ1aTlocCJ9.-xsBhulirrT0nMom_Ay9Og'
       let attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                         'Imagery © <a href="http://mapbox.com">Mapbox</a>';
       let blackLayer = L.tileLayer(stopStyle, {attribution: attribution});
       blackLayer.addTo(map);

       let modalContent =
      '<div class="col-md-12 col-sm-12 col-xs-12">' +
        '<div class="x_panel">' +
          '<div class="x_title">' +
            '<div class="col-md-12 col-sm-12 col-xs-12"><h2><i class="fa fa-filter"></i> Filtro</h2> </div>' +
            '<div class="col-md-6 col-sm-6 col-xs-6"><div class="radio"><label class=""><input id="chkAll" type="radio" class="flat" checked="" name="filter"><small> Marcar todos</small></label></div></div>' +
            '<div class="col-md-6 col-sm-6 col-xs-6"><div class="radio"><label class=""><input id="chkEmpty" type="radio" class="flat"  name="filter"><small> Desmarcar todos</small></label></div></div>' +
            '<div class="clearfix"></div>' +
          '</div>' +
          '<div class="x_content">' +
            '<div class="" id="window" role="tabpanel" data-example-id="togglable-tabs">'+
              '<ul id="filterTab" class="nav nav-tabs bar_tabs" role="tablist">'+
                '<li role="presentation" class="active"><a href="#colorContentPanel" role="tab" id="colorTab" data-toggle="tab" aria-expanded="false">Color</a>'+
                '</li>'+
                '<li role="presentation" class=""><a href="#listContentPanel" id="listTab" role="tab" data-toggle="tab" aria-expanded="true">Ejes</a>'+
                '</li>'+
                '<li role="presentation" class=""><a href="#groupContentPanel" role="tab" id="groupTab" data-toggle="tab" aria-expanded="false">Grupos</a>'+
                '</li>'+
              '</ul>'+
              '<div id="myTabContent" class="tab-content">'+
                '<div role="tabpanel" class="tab-pane fade" id="listContentPanel" aria-labelledby="home-tab">'+
                  '<div class="col-md-12 col-sm-12 col-xs-12"><div id="listContent"></div></div>'+
                '</div>'+
                '<div role="tabpanel" class="tab-pane fade" id="groupContentPanel" aria-labelledby="profile-tab">'+
                  '<div class="col-md-12 col-sm-12 col-xs-12"><div id="groupContent"></div></div>'+
                '</div>'+
                '<div role="tabpanel" class="tab-pane fade in active" id="colorContentPanel" aria-labelledby="profile2-tab">'+
                  '<div class="col-md-12 col-sm-12 col-xs-12"><div id="colorContent"></div></div>'+
                '</div>'+
              '</div>'+
            '</div>'+
          '</div>'+
        '</div>'+
      '</div>';

       let win = L.control.window(map, {
         content: modalContent,
         closeButton: true,
         modal: true,
         position: 'top',
       });
       // activate tabs
       $('.nav-tabs a').click(function(e){
         e.preventDefault();
         $(this).tab('show');
       });
       // set all and empty checkbox
       $('input[type="radio"].flat').iCheck({
         labelHover: false,
         cursor: true,
         checkboxClass: 'icheckbox_flat-green',
         radioClass: 'iradio_flat-green',
       });
       $('input[type=radio][name=filter]').on('ifChanged', function (event) {
         if ($("input[name='filter']:checked").attr('id') == 'chkAll') {
           $("input[type=checkbox]").iCheck('check');
         }
         if ($("input[name='filter']:checked").attr('id') == 'chkEmpty') {
           $("input[type=checkbox]").iCheck('uncheck');
         }
       });

       L.easyButton({
         position: 'topright',
         states: [{
           stateName: 'filter',
           icon: 'fa-filter fa-lg',
           onClick: function(btn, map) {
             win.show();
           }
         }]
       }).addTo(map);

       /**
        * DEFINE HOUR CONTROL
        */
        let hourControl = L.control({position: 'topleft'});
        hourControl.onAdd = function (map) {
          let div = L.DomUtil.create('div', 'info hour');
          div.innerHTML = '<i class="fa fa-clock-o fa-lg" aria-hdden="true"></i> <span id="hourInfo"></span>';
          return div;
        };
        hourControl.addTo(map);

       /**
        * DEFINE DAY TYPE CONTROL
        */
       let dayTypeControl = L.control({position: 'topleft'});
       dayTypeControl.onAdd = function (map) {
         let div = L.DomUtil.create('div', 'info day');
         div.innerHTML = '<i class="fa fa-calendar-o fa-lg" aria-hdden="true"></i> <span id="dayType"></span>';
         return div;
       };
       dayTypeControl.addTo(map);

       // color for line
       let colors = ['#c4c4c4','#59F000','#c9d802','#FF7400','#FF0000','#68266F'];
       let getColorPosition = function(color) {
         return $.inArray(color, colors);
       };

       let getColor = function(d) {
         if (d == null){
           return colors[0];
         }
         return d <  0   ? colors[0] :
                d <= 180 ? colors[1] :
                d <= 240 ? colors[2] :
                d <= 300 ? colors[3] :
                d <= 360 ? colors[4] :
                           colors[5];
       };

       /**
        * DEFINE LEGEND
        */
        let legend = L.control({position: 'bottomright'});
        legend.onAdd = function (map) {
          let div = L.DomUtil.create('div', 'info legend'),
          grades = [0, 180, 240, 300, 360],
          labels = [];

          div.innerHTML += '<h4>s/km</h4>';

          // loop through our density intervals and generate a label with a colored square for each interval
          for (let i = 0; i < grades.length; i++) {
            let color = '';
            let legend = '';
            if (i==0) {
              color = getColor(grades[i]-1);
              legend = ' Sin datos ';
              let html = '<i style="background:' + color + '"></i>' + legend + '<br>';
              div.innerHTML += html;
            }
            switch (true) {
              case (i==grades.length-1):
                color = getColor(grades[i]+1);
                legend = ' > ' + grades[i];
                break;
              default: // middle
                color = getColor(grades[i] + 1)
                legend = ' (' + grades[i] + ', ' + grades[i + 1] + ']'
                break;
            }
            let html = '<i style="background:' + color + '"></i>' + legend + '<br>';
            div.innerHTML += html;
          }

          return div;
        };
        legend.addTo(map);

        let getMetric = function(section){
          return section.segxkm != null ? section.segxkm.toFixed(1) : null;
        };
        let app = new App(map, getMetric, getColor, getColorPosition);

        function downloadData() {
          $.ajax({
            url: "getDataStatus",
            success: function(status){

              if (!status){
                return;
              }
              
              $.ajax({
                url: "getTimeMapData",
                success: function(data){
                  console.log('time to update map data');
                  // merge streets
                  let streets = {};
                  $.each(data.Destination, function(i, origin){
                    $.each(origin, function(i,v){
                      streets = $.extend(streets, v);
                    });
                  });
                  $.each(streets, function(streetName, street) {
                    $.each(street.sections, function(sectionName, section) {
                      app.generateOverlays(streetName, sectionName, section);
                    });
                  });
                  app.updateMap(data.hour, data.dayType);
                }
              });
            }
          });
        }
        downloadData();
        setInterval(downloadData, 30*1000);
      });
  </script>

{% endblock %}
