{% extends 'base.html' %}
{% load static %}

{% block title %}Mapa{% endblock %}

{% block css %}
  <!-- leaflet -->
  <link rel="stylesheet" href="{% static "components/leaflet/dist/leaflet.css" %}">
  <link rel="stylesheet" href="{% static "components/Leaflet.EasyButton/src/easy-button.css" %}">
  <link rel="stylesheet" href="{% static "components/leaflet-control-window/src/L.Control.Window.css" %}">
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <link href="{% static gentelella_static|add:"iCheck/skins/flat/green.css" %}">
  {% endwith %}
  <style>
    .info {
      padding: 6px 8px;
      font: 14px/16px Arial, Helvetica, sans-serif;
      background: white;
      background: rgba(255,255,255,0.8);
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      border-radius: 5px;
    }
    .info h4 {
      margin: 0 0 5px;
      color: #777;
    }

    .legend {
      line-height: 18px;
      color: #555;
    }
    .legend i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.8;
    }

    .filterColor {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 1.0;
    }

    .nav_menu {
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}

  <script src="{% static "components/leaflet/dist/leaflet.js" %}"></script>
  <script src="{% static "components/leaflet-polylinedecorator/leaflet.polylineDecorator.js" %}"></script>
  <script src="{% static "components/Leaflet.EasyButton/src/easy-button.js" %}"></script>
  <script src="{% static "components/leaflet-control-window/src/L.Control.Window.js" %}"></script>
  <script src="{% static "own/leaflet-polylinedecorator/longArrowHead.js" %}"></script>
  {% with "components/gentelella/vendors/" as gentelella_static %}
    <script src="{% static gentelella_static|add:"iCheck/icheck.min.js" %}"></script>
  {% endwith %}
  <script>
    $(document).ready(function() {
       var currentHour = '';
       var currentDayType = '';
       var dataSource = {};

       var Element = function(layer, color, group, name) {
         this.layer = layer;
         this.color = color;
         this.group = group;
         this.name = name;
         this.visible = true;
         this.addToMap = function() {
           this.layer.addTo(map);
           this.visible = true;
         };
         this.removeFromMap = function() {
           this.visible = false;
           map.removeLayer(this.layer);
         };
       };

       function categorizeSection(layer, color, group, name, id) {
	     // if id is present in data
		 if(dataSource.hasOwnProperty(id)){
           var el = dataSource[id];
		   if(el.visible){
		     el.removeFromMap();
		     el.layer = layer;
			 el.addToMap();
		   }else{
             el.layer = layer;
		   }
		   return;
		 }

         dataSource[id] = new Element(layer, color, group, name);
       }

       /**
        * SET MAP
        */
       var beauchefLocation = L.latLng(-33.457910, -70.663869);
       var mapid = $(".right_col")[0];
       var map = L.map(mapid, {
         editable: true,
         closePopupOnClick: false
       }).setView(beauchefLocation, 13);
       var blackStyle='https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidHJhbnNhcHAiLCJhIjoiY2lzbjl6MDQzMDRkNzJxbXhyZWZ1aTlocCJ9.-xsBhulirrT0nMom_Ay9Og';
       var grayStyle= 'https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoidHJhbnNhcHAiLCJhIjoiY2lzbjl6MDQzMDRkNzJxbXhyZWZ1aTlocCJ9.-xsBhulirrT0nMom_Ay9Og';
       var attribution = 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                         'Imagery © <a href="http://mapbox.com">Mapbox</a>';
       var blackLayer = L.tileLayer(grayStyle, {attribution: attribution});
       blackLayer.addTo(map);

       // color for line
       var colors = ['#c4c4c4','#59F000','#c9d802','#FF7400','#FF0000','#68266F'];
       function getColorPosition(color) {
         return $.inArray(color, colors);
       }

       function getColor(d) {
		 if (d == null){
		   return colors[0];
		 }
         return d <  0   ? colors[0] :
                d <= 180 ? colors[1] :
                d <= 240 ? colors[2] :
                d <= 300 ? colors[3] :
                d <= 360 ? colors[4] :
                           colors[5];
       };

       /**
        * DEFINE FILTER
        */
       function getAttributeUniqueList(attributeName, sortFunction) {
         var dict = $.map(dataSource, function(element, id){
           return element[attributeName];
         }).reduce(function(x, y){
           if (x.hasOwnProperty(y)) {
             x[y]++;
             return x;
           }
           x[y] = 1;
           return x;
         }, {});

         var orderedList = [];
         $.each(dict, function(attrValue, frecuency){
           orderedList.push({attrValue:attrValue, frecuency:frecuency});
         });
         orderedList.sort(sortFunction);
         return orderedList;
       }

       function generateGroupList(divId, attrName, sortFunction, htmlGenerator) {
         $('#' + divId).empty();
         var orderedList = getAttributeUniqueList(attrName, sortFunction);
         $.each(orderedList, function(index, item){
           var attrValue = item.attrValue;
           var frecuency = item.frecuency;
           var html = $(htmlGenerator(attrValue, frecuency));
           var checkbox = $("<input type='checkbox' class='flat' checked='checked' />")
           checkbox.change(function(){
             if (this.checked) {
               $.each(dataSource, function(index, element){
                 if (attrValue == element[attrName]) {
                   element.addToMap();
                 }
               });
             } else {
               $.each(dataSource, function(index, element){
                 if (attrValue == element[attrName]) {
                   element.removeFromMap();
                 }
               });
             }
           });
           html.prepend(checkbox);
           $('#' + divId).append(html);
         });
       }

       var modalContent =
      '<div class="col-md-12 col-sm-12 col-xs-12">' +
        '<div class="x_panel">' +
          '<div class="x_title">' +
            '<h2><i class="fa fa-filter"></i> Filtro</h2>' +
            '<div class="clearfix"></div>' +
          '</div>' +
          '<div class="x_content">' +
            '<div class="" id="window" role="tabpanel" data-example-id="togglable-tabs">'+
              '<ul id="filterTab" class="nav nav-tabs bar_tabs" role="tablist">'+
                '<li role="presentation" class="active"><a href="#colorContentPanel" role="tab" id="colorTab" data-toggle="tab" aria-expanded="false">Color</a>'+
                '</li>'+
                '<li role="presentation" class=""><a href="#listContentPanel" id="listTab" role="tab" data-toggle="tab" aria-expanded="true">Ejes</a>'+
                '</li>'+
                '<li role="presentation" class=""><a href="#groupContentPanel" role="tab" id="groupTab" data-toggle="tab" aria-expanded="false">Grupos</a>'+
                '</li>'+
              '</ul>'+
              '<div id="myTabContent" class="tab-content">'+
                '<div role="tabpanel" class="tab-pane fade" id="listContentPanel" aria-labelledby="home-tab">'+
                  '<div class="col-md-12 col-sm-12 col-xs-12"><div id="listContent"></div></div>'+
                '</div>'+
                '<div role="tabpanel" class="tab-pane fade" id="groupContentPanel" aria-labelledby="profile-tab">'+
                  '<div class="col-md-12 col-sm-12 col-xs-12"><div id="groupContent"></div></div>'+
                '</div>'+
                '<div role="tabpanel" class="tab-pane fade in active" id="colorContentPanel" aria-labelledby="profile2-tab">'+
                  '<div class="col-md-12 col-sm-12 col-xs-12"><div id="colorContent"></div></div>'+
                '</div>'+
              '</div>'+
            '</div>'+
          '</div>'+
        '</div>'+
      '</div>';
       var win = L.control.window(map, {
         content: modalContent,
         closeButton: true,
         modal: true,
         position: 'top',
       });
       win.addEventListener("show", function(){
         // activate tabs
         $('.nav-tabs a').click(function(e){
           e.preventDefault();
           $(this).tab('show');
         });
         // fill each category

         // axis
		 if ($('#listContent div').length>0){
           return;
		 }

         // streets
         generateGroupList('listContent', 'name', function(a, b){
           return a.attrValue.localeCompare(b.attrValue);
         }, function(name, frecuency){
           return "<div class='checkbox'><label> " + name + " (" + frecuency + " tramos)</label></div>";
         });

         // groups
         generateGroupList('groupContent', 'group', function(a, b){
           return a.attrValue.localeCompare(b.attrValue);
         }, function(group, frecuency){
           return "<div class='checkbox'><label> " + group + " (" + frecuency + " tramos)</label></div>";
         });

         // colors
         generateGroupList('colorContent', 'color', function(a, b){
           return getColorPosition(a.attrValue) - getColorPosition(b.attrValue);
         }, function(color, frecuency){
           return "<div class='checkbox'><label> (" + frecuency + " tramos)<i class='filterColor' style='background:" + color + "'></i></label></div>";
         });
       });

       L.easyButton({
         position: 'topright',
         states: [{
           stateName: 'filter',
           icon: 'fa-filter fa-lg',
           onClick: function(btn, map) {
             win.show();
           }
         }]
       }).addTo(map);

       /**
        * DEFINE LEGEND
        */
        var legend = L.control({position: 'bottomright'});
        legend.onAdd = function (map) {
          var div = L.DomUtil.create('div', 'info legend'),
          grades = [0, 180, 240, 300, 360],
          labels = [];

          div.innerHTML += '<h4>seg/km</h4>';

          // loop through our density intervals and generate a label with a colored square for each interval
          for (var i = 0; i < grades.length; i++) {
            var color = '';
            var legend = '';
            if (i==0) {
              color = getColor(grades[i]-1);
              legend = ' Sin datos ';
              var html = '<i style="background:' + color + '"></i>' + legend + '<br>';
              div.innerHTML += html;
            }
            switch (true) {
              case (i==grades.length-1):
                color = getColor(grades[i]+1);
                legend = ' > ' + grades[i];
                break;
              default: // middle
                color = getColor(grades[i] + 1)
                legend = ' (' + grades[i] + ', ' + grades[i + 1] + ']'
                break;
            }
            var html = '<i style="background:' + color + '"></i>' + legend + '<br>';
            div.innerHTML += html;
          }

          return div;
        };
        legend.addTo(map);

       /**
        * DEFINE HOUR CONTROL
        */
        var hourControl = L.control({position: 'topleft'});
        hourControl.onAdd = function (map) {
          var div = L.DomUtil.create('div', 'info hour');
          div.innerHTML = '<i class="fa fa-clock-o fa-lg" aria-hdden="true"></i> <span id="hourInfo"></span>';
          return div;
        };
        hourControl.addTo(map);

       /**
        * DEFINE DAY TYPE CONTROL
        */
        var dayTypeControl = L.control({position: 'topleft'});
        dayTypeControl.onAdd = function (map) {
          var div = L.DomUtil.create('div', 'info day');
          div.innerHTML = '<i class="fa fa-calendar-o fa-lg" aria-hdden="true"></i> <span id="dayType"></span>';
          return div;
        };
        dayTypeControl.addTo(map);

        function updateMap(hour, dayType) {

          // update map info
          $('#hourInfo').text(hour);
          $('#dayType').text(dayType);

          var bounds = null;

          // add layers to map and control
          $.each(dataSource, function(index, element){
            if (element.visible) {
              element.layer.addTo(map);
              if (!bounds) {
                bounds = element.layer.getBounds();
              } else {
                bounds = bounds.extend(element.layer.getBounds());
              }
            }
          });

          map.fitBounds(bounds);
        };

        /**
         * CREATE OVERLAYS
         */
        function generateOverlays(streetName, sectionName, section) {

          var latLngs = [];
          var id = section.id;
          var metrics = section.segxkm != null ? section.segxkm.toFixed(1) : null;
          var group = section.group;
          var nObs = section.nObs;
          var points = section.points;
          var origin = section.originStreet;
          var destination = section.destinationStreet;

          // order points by distOnRoute
          points.sort(function(a, b) {
            return a.distOnRoute - b.distOnRoute;
          });

          // populate positions
          $.each(points, function(i2, point) {
            latLngs.push([point.latitude, point.longitude]);
          });

          var line = L.polyline(latLngs, {color: getColor(metrics)});

          var patternsOpts = [
          // defines a pattern of 10px-wide dashes, repeated every 20px on the line
          {offset: 10,
            endOffset: 5,
            repeat: '5%',
            symbol: L.Symbol.longArrowHead({
              rotate: true,
              pixelSize: 5,
              polygon: true,
              pathOptions: {
                color: getColor(metrics),
                stroke: false,
                fillColor: getColor(metrics),
                fillOpacity: 1.0
              }
            })
          }
          ]
          var decorator = L.polylineDecorator(line, {patterns: patternsOpts});

          //********************************************************/
          // set bubble
          var text = metrics + " seg/km";
          if (metrics == null) {
            text = 'Sin Datos';
          }
          var message = "<h3>" + text + "</h3><h6>Eje: " + name + "</h6><h6>Inicio: " + origin + "</h6><h6>Fin: " + destination + "</h6><h6>Grupo: " + group + "</h6><h6>N° obs: " + nObs + "</h6>";
          decorator.bindPopup(message);
          line.bindPopup(message);

          //********************************************************/
          // animation
          var arrowOffset = 0;
          patternsOpts[0].repeat = 0;
          var anim = window.setInterval(function() {
            patternsOpts[0].offset = arrowOffset + '%';
            decorator.setPatterns(patternsOpts);
            if(arrowOffset > 100)
              arrowOffset = 0;
            arrowOffset = arrowOffset + 1;
          }, 50);
          //********************************************************/

          // create overlay
          var overlay = L.featureGroup([]);
          overlay.addLayer(line);
          overlay.addLayer(decorator);

          categorizeSection(overlay, getColor(metrics), group, streetName, id);

          console.log("Map updated with polyline decorator");
        }

        function downloadData() {
          $.ajax({
            url: "getDataStatus",
            success: function(status){

              if (!status){
                return;
              }

              $.ajax({
                url: "getTimeMapData",
                success: function(data){
                  if (currentHour != data.hour) {
                    // merge streets
                    var streets = {};
                    $.each(data.Destination, function(i, origin){
                      $.each(origin, function(i,v){
                        streets = $.extend(streets, v);
                      });
                    });
                    currentHour = data.hour
                    currentDayType = data.dayType
                    $.each(streets, function(streetName, street) {
                      $.each(street.sections, function(sectionName, section) {
                        generateOverlays(streetName, sectionName, section);
                      });
                    });
                    updateMap(currentHour, currentDayType);
                  }
                }
              });
            }
          });
        }
        downloadData();
        setInterval(downloadData, 1*1000);
      });
  </script>

{% endblock %}
