{% extends 'velocity/mapBase.html' %}

{% block mapjs %}
  // color for line
  var colors = ['#c4c4c4','#0061ff','#187200','#6dff44','#c9d802','#ff9400','#fc3d3a'];
  let getColorPosition = function(color) {
    return $.inArray(color, colors);
  };

  let getColor = function(d) {
    if(d == null){
      return colors[0];
    }
    return d <  0.7  ? colors[1] :
           d <= 0.85 ? colors[2] :
           d <= 1.0  ? colors[3] :
           d <= 1.15 ? colors[4] :
           d <= 1.3  ? colors[5] :
                      colors[6];
   };

   // DEFINE LEGEND
   let legend = L.control({position: 'bottomright'});
   legend.onAdd = function (map) {
     let div = L.DomUtil.create('div', 'info legend'),
     grades = [0.70, 0.85, 1.00, 1.15, 1.30],
     labels = [];

     div.innerHTML += '<h4>%</h4>';
	 var htmlGray = '<i style="background:'+colors[0]+'"></i> Sin Datos <br>';
	 div.innerHTML += htmlGray;

     // loop through our density intervals and generate a label with a colored square for each interval
     for (let i = 0; i < grades.length; i++) {
       let color = '';
       let legend = '';
       if (i==0) {
         color = getColor(grades[i]-0.01);
         legend = ' < ' + grades[i];;
         let html = '<i style="background:' + color + '"></i>' + legend + '<br>';
         div.innerHTML += html;
       }
       switch (true) {
         case (i==grades.length-1):
           color = getColor(grades[i]+0.01);
           legend = ' > ' + grades[i];
           break;
         default: // middle
           color = getColor(grades[i] + 0.01)
           legend = ' (' + grades[i] + ', ' + grades[i + 1] + ']';
           break;
       }
       let html = '<i style="background:' + color + '"></i>' + legend + '<br>';
       div.innerHTML += html;
     }

     return div;
   };

   let getMetric = function(section){
     return section.percDiff != null ? section.percDiff.toFixed(1) : null;
   };
   let app = new App(getMetric, getColor, getColorPosition);
   app.addControl(legend);
{% endblock %}
