{% extends 'velocity/mapBase.html' %}

{% block mapjs %}
  let style1 = {
    colors: ['#c4c4c4','#59F000','#c9d802','#FF7400','#FF0000','#68266F']
  }
  style1.getColorPosition = function(color) {
    return $.inArray(color, style1.colors);
  };
  style1.getColor = function(d) {
    if(d == null){
      return style1.colors[0];
    }
    return d <  0   ? style1.colors[0] :
           d <= 180 ? style1.colors[1] :
           d <= 240 ? style1.colors[2] :
           d <= 300 ? style1.colors[3] :
           d <= 360 ? style1.colors[4] :
                      style1.colors[5];
  };
  // DEFINE LEGEND
  let legend = L.control({position: 'bottomright'});
  legend.onAdd = function (map) {
    let div = L.DomUtil.create('div', 'info legend'),
    grades = [0, 180, 240, 300, 360],
    labels = [];

    div.innerHTML += '<h4>s/km</h4>';

    // loop through our density intervals and generate a label with a colored square for each interval
    for (let i = 0; i < grades.length; i++) {
      let color = '';
      let legend = '';
      if (i==0) {
        color = style1.getColor(grades[i]-1);
        legend = ' Sin datos ';
        let html = "<i style='background:" + color + "'></i>" + legend + "<br>";
        div.innerHTML += html;
      }
      switch (true) {
        case (i==grades.length-1):
          color = style1.getColor(grades[i]+1);
          legend = ' > ' + grades[i];
          break;
        default: // middle
          color = style1.getColor(grades[i] + 1);
          legend = ' (' + grades[i] + ', ' + grades[i + 1] + ']';
          break;
      }
      let html = '<i style="background:' + color + '"></i>' + legend + '<br>';
      div.innerHTML += html;
    }
    return div;
  };
  style1.legend = legend;

  let style2 = {
    colors: ['#c4c4c4','#0061ff','#187200','#6dff44','#c9d802','#ff9400','#fc3d3a']
  }
  style2.getColorPosition = function(color) {
    return $.inArray(color, style2.colors);
  };
  style2.getColor = function(d) {
    if(d == null){
      return style2.colors[0];
    }
    return d <  -60 ? style2.colors[1] :
           d <= -30 ? style2.colors[2] :
           d <= 0   ? style2.colors[3] :
           d <= 30  ? style2.colors[4] :
           d <= 60  ? style2.colors[5] :
                      style2.colors[6];
  };
  // DEFINE LEGEND
  legend = L.control({position: 'bottomright'});
  legend.onAdd = function (map) {
    let div = L.DomUtil.create('div', 'info legend'),
    grades = [-60, -30, 0, 30 ,60],
    labels = [];

    div.innerHTML += '<h4>s/km</h4>';
    var htmlGray = '<i style="background:' + style2.colors[0] + '"></i> Sin Datos <br>';
    div.innerHTML += htmlGray;

    // loop through our density intervals and generate a label with a colored square for each interval
    for (let i = 0; i < grades.length; i++) {
      let color = '';
      let legend = '';
      if (i==0) {
        color = style2.getColor(grades[i]-1);
        legend = ' < ' + grades[i];;
        let html = '<i style="background:' + color + '"></i>' + legend + '<br>';
        div.innerHTML += html;
      }
      switch (true) {
        case (i==grades.length-1):
          color = style2.getColor(grades[i]+1);
          legend = ' > ' + grades[i];
          break;
        default: // middle
          color = style2.getColor(grades[i] + 1)
          legend = ' (' + grades[i] + ', ' + grades[i + 1] + ']'
          break;
      }
      let html = '<i style="background:' + color + '"></i>' + legend + '<br>';
      div.innerHTML += html;
    }

    return div;
  };
  style2.legend = legend;

  let filterControl = L.control({position: 'topright'});
  filterControl.onAdd = function (map) {
    let div = L.DomUtil.create('div', 'info legend');
    div.innerHTML += '<div class="form-inline">'+
             '<select id="dayType" class="form-control input-sm">'+
               '{%for dayType in dayTypes %}<option>{{dayType}}</option>{% endfor %}'+
             '</select>'+
             '<select id="period" class="form-control input-sm">'+
                     '{%for period in periods %}<option>{{period}}</option>{% endfor %}'+
             '</select>'+
             '<select id="source" class="form-control input-sm">'+
                 '<option>pre</option>'+
                 '<option>post</option>'+
                 '<option>dif</option>'+
             '</select>'+
     '</div>';
    div.firstChild.onmousedown = div.firstChild.ondblclick = L.DomEvent.stopPropagation;
    return div;
  };

  let getMetricFactory = function(attr){
    let func = function(section){
      return section[attr] != null ? section[attr].toFixed(1) : null;
     };
     return func;
  };

  // html to display in popup
  let getBubbleInfo = function(metric, streetName, section){
    let text = metric + " s/km";
    if (metric == null) {
      text = 'Sin Datos';
    }
    let order = section.order;
    let origin = section.originStreet;
    let destination = section.destinationStreet;
    let group = section.group;
    let nObs = section.nObs;

    let message = "<h3>" + text + "</h3>" + 
                  "<h6>Eje: " + streetName + "</h6>" + 
                  "<h6>Tramo: " + order + "</h6>" + 
                  "<h6>Inicio: " + origin + "</h6>" + 
                  "<h6>Fin: " + destination + "</h6>" + 
                  "<h6>Grupo: " + group + "</h6>";
                  //"<h6>N° obs: " + nObs + "</h6>";
    return message;
  };

  let app = new App(getMetricFactory('preVelRef'), style1.getColor, style1.getColorPosition, getBubbleInfo);
  app.addMapControl(style1.legend);
  app.addMapControl(filterControl);
  app.setMapControlVisibility('hourInfo', false);
  app.setMapControlVisibility('dayTypeInfo', false);

  //add button logic
  $('.form-control').change(function(){
    let params = {};
    params['networkId'] = {{ networkId }};
    params['dayType'] = $('#dayType option:checked').val();
    params['period'] = $('#period option:checked').val();

    $.ajax({
      url: "{% url 'velocity:getRefMapData' %}",
      data: params,
      success: function(data){
        console.log('update map data');
        console.log(data);
        // merge streets
        let streets = {};
        $.each(data.Destination, function(i, origin){
          $.each(origin, function(i,v){
            streets = $.extend(streets, v);
          });
        });

        // select metric
        let source = $('#source option:checked').val();
        let getMetricFunc = null;
        let style = null;
        switch(source){
          case 'post':
            getMetricFunc = getMetricFactory('posVelRef');
            style = style1;
            break;
          case 'dif':
            getMetricFunc = getMetricFactory('diffVelRef');
            style = style2;
            break;
          default:
            getMetricFunc = getMetricFactory('preVelRef');
            style = style1;
            break;
        }
        app.setMetric(getMetricFunc);
        app.setStyle(style.getColor, style.getColorPosition);
        app.removeMapControl(style1.legend);
        app.removeMapControl(style2.legend);
        app.addMapControl(style.legend);

        // generate polylines
        $.each(streets, function(streetName, street) {
          $.each(street.sections, function(sectionName, section) {
            app.generateOverlays(streetName, sectionName, section);
          });
        });

        // update map
        app.updateMap(data.hour, data.dayType);
      }
    });
  });
  $('#period').change();
{% endblock %}

{% block downloaddata %}
{% endblock %}

