{% extends 'base.html' %}
{% load static %}

{% block title %}Tabla{% endblock %}

{% block css %}
{% with "components/gentelella/vendors/" as gentelella_static %}
<!-- Datatables -->
<link href="{% static gentelella_static|add:"datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static gentelella_static|add:"datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static gentelella_static|add:"datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static gentelella_static|add:"datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet"> 
<link href="{% static gentelella_static|add:"datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">
{% endwith %}
<style>
  #datatable tbody tr {
    cursor: pointer;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Tiempos <small><i class="fa fa-clock-o fa-lg"></i> <span id="hour"></span></small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <table id="sdatatable" class="table table-striped table-bordered dt-responsive table-condensed nowrap" cellspacing="0" width="100%">
          <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
{% with "components/gentelella/vendors/" as gentelella_static %}
<script src="{% static gentelella_static|add:"datatables.net/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-buttons/js/buttons.flash.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-buttons/js/buttons.print.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
<script src="{% static gentelella_static|add:"datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
<script src="{% static gentelella_static|add:"jszip/dist/jszip.min.js" %}"></script>
<script src="{% static gentelella_static|add:"pdfmake/build/pdfmake.min.js" %}"></script>
<script src="{% static gentelella_static|add:"pdfmake/build/vfs_fonts.js" %}"></script>
{% endwith %}
<script>
'use strict';
Date.prototype.yyyymmdd = function() {
  var mm = this.getMonth() + 1; // getMonth() is zero-based
  var dd = this.getDate();

  return [this.getFullYear(),
          (mm>9 ? '' : '0') + mm,
          (dd>9 ? '' : '0') + dd
         ].join('_');
};
function numberRender(data, type, row) {
  var value = data;
  if (data != null ) {
    value = Math.round(data*10)/10;
  }
  return value;
}
function loadTable() {
  $.get('./getStreetTableData', function(data) {
    var hour = data.hour;
    $('#hour').text(hour);
    var dataset = data.dataset;
    let hourFormat = data.hour.replace(':00-', '_');
    hourFormat = hourFormat.replace(new RegExp(':00$'), '');
    hourFormat = hourFormat.replace(new RegExp(':', 'g'), '.');
    console.log(hourFormat);
    let fileName = 'Tiempos_' + (new Date()).yyyymmdd() + '_' + hourFormat;

    var dt = $('#sdatatable').DataTable({
      dom: 'frBtip',
      buttons: [
        //{extend: 'copy', text: 'Copiar'}, 
        {extend: 'csv', filename: fileName}, 
        {extend: 'excel', filename: fileName},
        //{extend: 'print', text: 'Imprimir'},
      ],
      pageLength: 20,
      data: dataset,
      language: {
        url: '//cdn.datatables.net/plug-ins/1.10.13/i18n/Spanish.json'
      },
      columns: [
        { title: 'Eje',               data: 'axis',        searchable: true},
        { title: 'Tramo',             data: 'section',     searchable: true, className: 'text-center'},
        { title: 'Inicio',            data: 'origin',      searchable: true},
        { title: 'Fin',               data: 'destination', searchable: true},
        { title: 'N° obs',  data: 'nObs',        searchable: true, className: 'text-center'},
        { title: 'Actual (s/km)',     data: 'metrics',     searchable: true, render: numberRender, className: 'text-center'},
        { title: 'Referencia (s/km)', data: 'refVel',      searchable: true, render: numberRender, className: 'text-center'},
        { title: 'Diferencia (s/km)', data: 'diff',        searchable: true, render: numberRender, className: 'text-center'},
      ],
      order: [[0, 'asc']],
    });
  });
};
$(document).ready(function() { 
  loadTable();
});
</script>
{% endblock %}
